@mixin c-select() {
	display: inline-block;
	max-width: 100%;
	padding: .375rem 1.75rem .375rem .75rem;
	padding-right: .75rem \9;
	color: $input-color;
	vertical-align: middle;
	background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAMAAACzvE1FAAAADFBMVEUzMzMzMzMzMzMzMzMKAG/3AAAAA3RSTlMAf4C/aSLHAAAAPElEQVR42q3NMQ4AIAgEQTn//2cLdRKppSGzBYwzVXvznNWs8C58CiussPJj8h6NwgorrKRdTvuV9v16Afn0AYFOB7aYAAAAAElFTkSuQmCC) no-repeat right .75rem center;
	background-image: none \9;
	background-size: 8px 10px;
	border: $input-btn-border-width solid $input-border-color;
	// Use vendor prefixes as `appearance` isn't part of the CSS spec.
	-moz-appearance: none;
	-webkit-appearance: none;

	&:focus {
		border-color: #51a7e8;
		outline: none;
		@include box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 5px rgba(81, 167, 232, 0.5));
	}

	// Hides the default caret in IE11
	&::-ms-expand {
		opacity: 0;
	}
}