@mixin make-product-small() {
	.product-inner {
		padding: 1.071em;
	}
}

@mixin make-action-buttons-float() {
	.hover-area {
		.action-buttons {
			@include clearfix;

			> div:first-child,
			> a:first-child {
				float: $start;
				margin: 0;
				font-size: 12px;
			}

			> div:last-child,
			> a:last-child {
				float: $end;
				margin: 0;
				font-size: 12px;
			}

			.add-to-compare-link::before {
				margin-#{$end}: 5px;
			}

			.add_to_wishlist::before {
				margin-#{$end}: 0;
			}
		}
	}
}
