.header-logo {
  width: 100%;
  padding: 0.4em 0;
}
.site-header {
  padding: 0;
  background-image: url(../images/head-bg.gif);
  background-repeat: repeat-x;
}
.header-banner {
  position: absolute;
  width: 100%;
  height: 109px;
  left: 0;
  top: 0;
  background-image: url(../images/banner-bg.gif);
  background-repeat: no-repeat;
  background-position: right center;
}
.logo-link {
  color: #000;
  &:hover,
  &:active,
  &:focus {
    color: #000;
  }
  .logo {
    margin-bottom: 8px;
    font-size: 42px;
    font-weight: 700;
    line-height: 1;
  }
  .slogan {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1;
  }
}
.add-advertisement {
  position: relative;
  padding: 0 15px;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 40px;
    left: 0;
    top: -7px;
    border: 1px solid $color-body;
    border-radius: 4px;
  }
  &:hover {
    &::before {
      background-color: $copyright-bar-bg;
    }
  }
  a {
    position: relative;
    z-index: 2;
  }
}

.home-page {
  .navbar-primary {
    margin-bottom: 1.786em;
  }
}

.shop-control-bar {
  .woocommerce-result-count {
    float: left;
    margin: .5rem 0;
  }
}

.footer-bottom-widgets {
  padding: 4.143em 0;
}

.about {
  &__list-img {
    margin: 0;
    padding: 0;
  }
  &__item-img {
    margin-bottom: 30px;
    list-style-type: none;
    img {
      padding: 4px;
      background-color: $copyright-bar-bg;
      border: 1px solid #cccccc;
    }
  }
}

.product__video {
  text-align: center;
  iframe {
    width: 854px;
    height: 480px;
  }
}