/*===================================================================================*/
/*  SCREEN-DOWN-SM
/*===================================================================================*/
@include media-breakpoint-down(sm) {/*upto 544*/

	#content {
		margin-bottom: 5.714em;
	}

	 /*........Header........*/

	.secondary-nav {
		.menu-item {
			display: block;

			a {
				display: block;
			}

			 & + .menu-item {
			 	margin-#{$start}: 0;
			 }

			 &.pull-right{
			 	float: $start;
			 }
		}
	}

	.header-support-info {
		float: none;
		text-align: center;

		.media-body, .media-left, .media-right {
			display: inline-block;
		}

		.media-body {
			width: auto;
		}

		.media-left {
			padding-#{$end}: 10px;
			padding-#{$start}: 0;
		}
	}

	.tp-bullets.custom {
		display: none !important;
	}

	.slider-sm-btn {
		padding: 7px 27px !important;
		font-size: 14px !important;
	}

	#tab-description .electro-description .layout tr td {
		display: inline-block;
		width: 100%;
	}

	#primary #tab-description .electro-description .layout tr td:last-child img {
		#{$start}: 24px;
    	width: 100%;
	}

	#primary #tab-description .electro-description .layout:last-child tr td:first-child img {
		#{$end}: 25px;
    	width: 100%;
	}

	#primary #tab-description .electro-description .layout:last-child tr td:first-child {
		margin-bottom: 60px;
	}

	.navbar-primary {
		.navbar-nav {
			> .menu-item {
				float: none;

				> a{
					border-#{$end}: none;
				}
			}
		}

		button.navbar-toggler {

			&:focus,
			&:hover{
				background: transparent;
				border: 1px solid #fff;
				padding: 0.5rem 0.75rem;
				line-height: 1;
			}
		}
	}

	.header-v1,
	.header-v3 {

		& + .navbar-primary {
			padding: 0.358em 1rem;
		}
	}


	.primary-nav {

		.navbar-toggler  {
			position: absolute;
			#{$end}: 1.071em;
			top: 0.400em;
			border: 1px solid #ddd;
			padding: 0.4rem 0.75rem 0.6rem;
		}

		 .nav-inline {
		  	> .menu-item {
		  		//display: block;

		  		&.dropdown + .menu-item {
		  			margin-#{$start}: 0;
		  		}

		  		& + .menu-item {
		  			margin-#{$start}: 0;
		  		}

		  		> a{
		  			display: block;
		  			padding: 0.6em 0.800em;
		  		}
		  	}
		  	.yamm-fw {
		  		.dropdown-menu {
		  			width: 100%;
		  		}
		  	}
		}
	}

	.departments-menu,
	.vertical-menu  {
		 .menu-item-has-children {
		 	a[data-toggle="dropdown"]{
		 		&:after {
		 			@include transform( rotate(90deg) );
		 		}
		 	}
		}
	}

	/*........Header Menu Dropdown........*/


	.navbar-primary {
		#header-v3 {
			.navbar-nav{
				.menu-item {
					&.open {
						.dropdown-menu {
							position: static;
							top: auto;
							width: auto;
							float: none;
						}
					}
				}
			}
		}
	}

	.vertical-menu,
	.departments-menu {
		.yamm-fw .dropdown-menu > li {
			width: 100%;
		}

		.yamm-tfw .dropdown-menu > li {
			width: 100%;
		}

		.yamm-hw .dropdown-menu > li {
			width: 100%;
		}
	}

	.vertical-menu ,
	.departments-menu-dropdown {
		.menu-item-has-children {
			> .dropdown-menu {
			 	display: none !important;
			 	// visibility: visible !important;
			 	// opacity: 1 !important;
			 	width: 100% !important;
			 	position: static !important;
			 	margin: 1.429em 0;
			 	min-height: inherit !important;

			 	> li {
			 		min-height: inherit !important;
			 	}

			 	&:hover {
			 		opacity: 0;
			 		visibility: hidden;
					width: 		0;
					display: 	none;
			 	}

			 	.vc_column_container{
			 		&:first-child {
			 			margin-bottom: 1.429em;
			 		}

			 		&:last-child {
			 			margin-bottom: 0;
			 		}
			 	}
			}

			&.open {
				> .dropdown-menu {
					display: block !important;
					opacity: 1 !important;
					visibility: visible !important;
					width: auto !important;
					margin-top: 0 !important;
				}
			}
		}
	}



	//.vertical-menu {
    //
	//	.dropdown:not(.list-group-item) > .dropdown-menu {
	//		> li {
	//			width: 100%;
	//		}
	//	}
    //
	//	.list-group-item > .dropdown.yamm-tfw .dropdown-menu,
	//	.dropdown.yamm-tfw .dropdown-menu {
    //
	//		> li {
	//			width: 100%;
	//			position: relative;
	//		}
	//	}
    //
	//	.yamm-content {
	//		padding: 1.143em;
	//	}
	//}
    //
	//.bg-yamm-extend-outside {
	//	#{$end}: 0;
	//}
    //
	//.vertical-menu > .menu-item,
	//.vertical-menu .dropdown-menu > .menu-item {
	//	padding: 0;
	//}
    //
	//.departments-menu .departments-menu-dropdown {
	//	.menu-item-has-children {
	//		&:hover,
	//		&:focus,
	//		&.open {
	//			ul.dropdown-menu {
	//				display: block !important;
	//				margin-top: 0 !important;
	//			}
	//		}
	//	}
	//}
	//
    //
	//.yamm {
	//	.yamm-content {
	//		.bg-yamm-content  {
	//			position: static;
	//			margin-bottom: 1.429em;
	//		}
	//	}
	//}


	/*........Footer........*/

	.footer-widgets {
		.row {
			> div {
				margin-bottom: 5.000em;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}


	.footer-newsletter {
		.newsletter-title {
			display: block;
			margin-#{$end}: 0;
		}

		.newsletter-marketing-text {
			margin-left: 0;
			display: block;
			text-align: center;
		}

		form {
			margin-top: 0.714em;
		}
	}


	.footer-social-icons {
		.social-icons {
			text-align: center;

			> li + li {
				margin-#{$start}: 1.786em;
			}
		}
	}


	.footer-bottom-widgets {
		.columns {
			margin-bottom: 3em;
			display: block;

			& + .columns {
				margin-#{$start}: 0;
			}
		}
	}


	/*........ Slider.......*/
	//.home-v1-slider,
	//.home-v2-slider,
	//.home-v3-slider {
	//	height: 300px;
    //
	//	.owl-item {
	//		font-size: 10px;
	//		height: 300px;
	//	}
	//}
    //
	//#owl-main .item .caption {
	//	padding-top: 20px;
	//}


	/*........Shop Page........*/

	ul.products {
		> li.product.list-view {
			padding: 0;
		}
	}

	.woocommerce-page {
		.page-header {
			.woocommerce-result-count {
				position: relative;
			}
		}

		.page-title {
			margin-bottom: 0.800em;
		}
	}


	.shop-control-bar {
		text-align: center;
		padding: 1.071em 1.429em;
		margin-bottom: 2.143em;

		.shop-view-switcher,
		.woocommerce-ordering,
		.form-electro-wc-ppp,
		.electro-advanced-pagination {
			float: none !important;
		}

		.shop-view-switcher {
			display: inline-block;
		}

		.woocommerce-ordering,
		.form-electro-wc-ppp {
			margin-#{$start}: 0;
			margin-bottom: 1.071em;
		}
	}

	//.section-product-cards-carousel .product-cards-carousel {
	//	overflow: hidden;
    //
	//	ul.products > li.product {
	//		.product-inner {
    //
	//			.media-body, .media-left, .media-right {
	//				display: inline-block;
    	//			width: 100%;
	//			}
    //
	//			.media-body {
	//				padding: 0;
	//			}
    //
	//			.media-left {
	//				padding-bottom: 10px;
	//			}
	//		}
	//	}
	//}

	.products .product.product-card .product-inner {
		padding-bottom: 0;
	}

	section.section-product-cards-carousel header ul.nav {
		border-top: none !important;
	}


	.columns-6-1 > ul.products.product-main-6-1 > li.product {
		.product-thumbnail  img {
			height: auto;
		}
	}

	.columns-6-1 > ul.products.products-6 > li.product .price {
		font-size: 1.786em;
	}

	ul.products li.product,
	ul.products .section-onsale-product .onsale-product,
	.section-onsale-product ul.products .onsale-product,
	ul.products .products-carousel .owl-item .product,
	 .products-carousel .owl-item .product {
	 	&:after {
	 		display: none;
	 	}
	}

	.shop-control-bar-bottom {
		text-align: center;

		.form-electro-wc-ppp,
		.woocommerce-result-count,
		.woocommerce-pagination {
			float: none;
		}

		.woocommerce-result-count {
			margin: 0.500em 0;
			margin-#{$start}: 0;
			float: none !important;

		}

		.woocommerce-pagination {
			text-align: center;

			ul.page-numbers {
				display: inline-block;
			}
		}
	}

	.woocommerce-page {
        .page-header {
            .woocommerce-result-count {
            position: relative;
            top: auto;
            transform: none;
            display: inline-block;
            }
        }
    }

    .product-loop-categories {
    	margin: 0;

    	.product-category {
    		float: none;
    		padding: 0 0 30px;
    		border: 1px solid  #ddd;
    		margin-bottom: 2.857em;

    		&:after {
    			border-#{$end}: none;
    		}

    		&:hover {
				box-shadow: none;
			}

			&:first-child {
				margin-top: 0;
			}
    	}
    }


	/*........Single Product Page........*/


	.single-product {
		.product-images-wrapper,
		.summary.entry-summary {
			margin-bottom: 2.143em;
		}


		&.full-width {
			.wc-tab {
				padding: 2em;
			}
		}
	}

	.wc-tabs > li,
	.ec-tabs > li {
		display: block;
		margin-bottom: 1.429em;

		&:last-child {
			margin-bottom: 1.429em;
		}

		& + li {
			margin-#{$start}: 0;
		}

		a {
			display: inline-block;
		}
	}

	.electro-nav-tabs {
		> li.nav-item {
			display: block;
			margin-bottom: 1.429em;

			& + li.nav-item {
				margin-#{$start}: 0;
			}

		}
	}

	.accessories .col-left {
		padding-#{$start}: 15px;

		ul.products {
			margin-#{$end}: 0 !important;
		}

	}

	.accessories .col-right {
		margin-top: 50px;
		text-align: center;
	}

	.accessories .add-all-to-cart.btn,
	.accessories .add-all-to-cart.hero-action-btn {
		padding: 0.572em 1.029em;
	}

	.full-width.single-product {
	 	.accessories {
		 	.products {
		 		margin-#{$start}: 0;
		 	}
		}
	}



	//#reviews {
	//	.commentlist {
	//		 > li  {
	//		 	img {
	//		 		margin-bottom: 1.429em;
	//		 	}
	//		}
	//	}
	//}
    //
	//.advanced-review {
	//	.rating-histogram {
	//		margin-bottom: 2.857em;
    //
	//		.rating-percentage-bar {
	//			margin-top: 0.357em;
	//		}
	//	}
	//}


	.extended.full-width #primary #tab-description {
		.electro-description {
			.layout {

				tr td {
					&:last-child img{
						#{$start}: 0;
					}
				}

				&:last-child tr td:first-child img{
					#{$end}: 0;
				}
			}
		}
	}

	.full-width #primary #tab-description {
		.electro-description {
			.layout {
				tr td {
					&:last-child img{
						#{$start}: 0;
					}
				}

				&:last-child tr td:first-child img{
					#{$end}: 0;
				}
			}
		}
	}


	/*........Cart Page........*/

	//table.shop_table.shop_table_responsive {
	//	thead {
	//		display: none;
	//	}
    //
	//	tr {
    //
	//		td {
	//			text-align: #{$end};
	//			display: block;
    //
	//			&:before {
	//				content: attr(data-title) ": ";
	//			    float: $start;
	//			    font-weight: 700;
	//			}
    //
	//			&.product-thumbnail {
	//				display: none;
	//			}
    //
	//			&.product-thumbnail,
	//			&.actions,
	//			&.order-actions {
	//				text-align: $start;
    //
	//				&:before {
	//					display: none;
	//				}
	//			}
    //
	//			&.product-remove {
	//				&:before {
	//					display: none;
	//				}
	//			}
    //
	//			&.product-quantity {
	//				.quantity {
	//					width: 100%;
	//				}
    //
	//				.input-text {
	//					max-width: 5em;
	//				}
	//			}
    //
	//			&.product-quantity {
	//				.quantity.buttons_added {
	//					.input-text {
	//						max-width: 8em;
	//					}
	//				}
	//			}
	//		}
    //
	//		&.cart_item{
	//			border-bottom: 1px solid #eaeaea;
	//		    display: block;
	//		    padding: 10px 0;
    //
	//		    &:first-child {
	//				padding: 0 0 10px;
	//			}
    //
	//			&:last-child {
	//				border-bottom: none;
	//			}
	//		}
	//	}
    //
	//	&.cart {
	//		tbody {
	//			tr.cart_item {
	//				&:first-child {
	//					td {
	//						padding-top: 1.029em;
	//					}
	//				}
	//			}
	//		}
    //
	//		.coupon {
	//			float: none;
    //
	//		}
    //
	//		input[name="update_cart"] {
	//			display: block;
	//		    margin-bottom: 1.429em;
	//		    width: 100%;
	//		}
    //
	//		.wc-proceed-to-checkout {
	//			margin-#{$start}: 0;
    //
	//			&, a{
	//				display: block;
	//				text-align: center;
	//			}
	//		}
	//	}
	//}
    //
	//.cart-collaterals {
	//	.cart_totals {
	//		table.shop_table_responsive {
	//			tbody {
	//				tr {
	//					th {
	//						display: none;
	//					}
	//				}
	//			}
	//		}
	//	}
	//}
    //
	//.cart-empty {
	//	font-size: 2.143em;
	//}
    //
    //
	///*........Checkout Page........*/
    //
	//.checkout_coupon {
	//	.form-row-first {
	//		.input-text {
	//			border-top-#{$end}-radius: 1.571em;
	//			border-bottom-#{$end}-radius: 1.571em;
	//		}
	//	}
    //
	//	.form-row-last {
	//		.button {
	//			border-top-#{$start}-radius: 1.571em;
	//			border-bottom-#{$start}-radius: 1.571em;
	//		}
	//	}
	//}
    //
	//.form-row{
	//	&.form-row-first {
	//		padding-#{$end}: 0;
	//	}
    //
	//	&.form-row-last {
	//		padding-#{$start}: 0;
	//	}
	//}
    //
	//#payment {
	//	.payment_methods {
	//		li {
	//			label,
	//			input {
	//				display: inline;
	//			}
	//		}
	//	}
	//	.terms label {
	//		display: inline;
	//	}
	//}
    //
	///*........Wishlist........*/
    //
	//table.wishlist_table {
	//	thead {
	//		display: none;
	//	}
    //
	//	tbody {
	//		tr {
	//			display: block;
	//			border-bottom: 1px solid #ddd;
	//			margin-bottom: 1.429em;
	//			padding-bottom: 1.429em;
    //
	//			&:last-child {
	//				border-bottom: none;
	//				padding-bottom: 0;
	//				margin-bottom: 0;
	//			}
    //
	//			td {
	//				display: block;
	//				border-top: none;
    //
	//				&.product-thumbnail {
	//					width: 100%;
    //
	//					img {
	//						margin: 0;
	//					}
	//				}
	//			}
	//		}
	//	}
	//}
    //
	///*........Blog Page........*/
    //
	//article.post {
	//	.media-attachment {
	//		.media-attachment-gallery {
	//			.owl-carousel {
	//				.owl-stage-outer {
	//					height: auto;
	//				}
	//			}
	//		}
	//	}
	//}
    //
	//article.post.format-quote,
	//article.post.format-link  {
	//	padding: 2.857em;
	//}
    //
	//.blog-list {
	//	article.post {
	//		.media-attachment {
	//			margin-bottom: 1.429em;
	//		}
	//		&.format-quote,
	//		&.format-link {
	//			margin: 0 0 6.214em;
	//		}
	//	}
	//}
    //
	//.entry-meta {
	//	clear: both;
	//}
    //
	//.post-author-info{
	//	.media {
	//	 	.media-left {
	//	 		display: block;
	//	 		padding-#{$end}: 0
	//	 	}
	//	}
	//}
    //
	//.single-post {
	//	article.post {
	//		.entry-header {
	//			h1.entry-title {
	//				.comments-link {
	//					display: none;
	//				}
	//			}
	//		}
	//	}
	//}
    //
	//.comment-list .comment .gravatar-wrapper, .comment-list .pingback .gravatar-wrapper,
	//.pings-list .comment .gravatar-wrapper, .pings-list .pingback .gravatar-wrapper {
	//	display: block;
	//	padding-#{$end}: 0;
	//}
    //
	//.comment-list .comment-body .comment-content,
	//.pings-list .comment-body .comment-content {
	//	display: block;
	//	width: 100%;
	//	margin-top: 20px;
	//}
    //
	//.comment-list .comment-body .comment-content,
	// .pings-list .comment-body .comment-content {
	// 	margin-bottom: 0;
	//}


	/*........Contact Page........*/

	.contact-form.vc_column_container {
		.vc_column-inner {
			padding-right: 0;
		}
	}

	.store-info.vc_column_container {
		.vc_column-inner {
			padding-#{$start}: 1.071em;
			padding-#{$end}: 1.071em;
		}
	}

	.store-info.store-info-v2 {
		.vc_column-inner {
			padding-#{$end}: 1.071em;

			.inner-left-xs {
				padding-#{$start}: 0;
			}
		}
	}

	.store-info {
		.inner-right-md {
			padding: 0;
		}
	}

	/*........About Page ........*/
	.wpb-accordion {
		.vc_tta-container {
			padding-left: 0;
		}
	}


	/*........My Account........*/

	.no-registration-form {
		margin: 0;
		width: 100%;
	}

	#customer_login {
		&:before,
		&:after {
			display: none;
		}
		padding: 0;

		.col-1 {
			padding-#{$end}: 0.9375rem;
			margin-bottom: 2.143em;
		}

		.col-2 {
			padding-#{$start}: 0.9375rem;
		}
	}

	.or-text {
		display: none;
	}


	/*........HomePage........*/

	//.section-onsale-product .savings {
	//	float: none;
	//	margin-top: 20px;
	//}
    //
	//.ads-block {
	//	> div {
	//		margin-bottom: 1.429em;
    //
	//		&:last-child {
	//			margin-bottom: 0;
	//		}
	//	}
	//}
    //
	//.products-carousel-tabs,
	//.products-2-1-2  {
	//	.nav-inline {
	//		margin-bottom: 2.143em;
    //
	//		.nav-item {
	//			margin-bottom:  1.429em;
    //
	//			& + .nav-item {
	//				margin-#{$start}: 0;
	//			}
	//		}
	//	}
    //
	//	.nav-link {
	//		display: inline-block;
	//	}
	//}
    //
	//.products-2-1-2 {
	//	 .columns-2-1-2 {
    //
	//	 	> ul {
	//	 		margin-bottom: 0;
	//	 	}
	// 	}
    //
	// 	ul.products {
	//		> li.product {
	//			.hover-area {
	//				padding-bottom: 1.071em;
	//			}
	//		}
	//	}
	// }
    //
 	//section.section-product-cards-carousel ,
 	//.products-6-1 {
	//	 header {
	//	  	ul.nav {
	//	  		float: none;
	//	  		display: block;
	//	  		margin: 1.429em 0;
	//	  	}
	//	 }
	//}
    //
	//.products-6-1,.home-v2-product-cards-carousel {
	//	header {
	//		h1 {
	//			display: block;
	//		}
	//	}
	//}
    //
	//
	// .primary-nav .nav-inline .dropdown-menu .menu-item > a {
	// 	white-space: normal;
	// }
	//
    //
	//.products-carousel-with-image {
	//	section header .h1,
	//	section header h1 {
	//		font-size: 1.7em;
	//	}
	//}
    //
	//.nav-inline {
	//	.nav-item {
	//		display: block;
	//		text-align: center;
	//	}
    //
	//	 .nav-item,
	//	 .nav-link {
	//	 	& + .nav-item{
	//	 		margin-#{$start}: 0;
	//	 	}
	//	}
	//}
    //
    //
	//.products-2-1-2 .columns-2-1-2 ,
	//.products-2-1-2 .section-onsale-product .columns-2-1-2,
	//.section-onsale-product .products-2-1-2 .columns-2-1-2 ,
	//.products-2-1-2 .products-carousel .owl-item .columns-2-1-2,
	//.products-carousel .owl-item .products-2-1-2 .columns-2-1-2{
	//	> ul{
	//		&.products:first-child,
	//		&.products:last-child {
	//			> li.product,
	//			> .onsale-product,
	//			.product {
	//				margin-bottom: 0.857em;
    //
	//			}
	//		}
	//	}
	//}
    //
	//.products-carousel {
	//	clear: both;
    //
	//	.owl-stage-outer {
	//		padding: 0;
	//	}
    //
	//	.owl-item {
	//		.product {
	//			.product-inner {
	//				border-#{$end}: none;
	//			}
	//		}
	//	}
	//}
    //
	//section {
	//	&,
	//	&.section-product-cards-carousel {
	//		header {
	//			margin-bottom: 1.429em;
	//		}
	//	}
	//}
    //
	//.products {
	//	.product.product-card {
	//		.media-body {
	//			.hover-area {
	//				opacity: 1;
	//				visibility: visible;
	//				transform: translateY(4%);
	//			}
	//		}
    //
	//		&:hover{
	//			.media-body {
	//				.hover-area {
	//					transform: translateY(4%);
	//				}
	//			}
    //
	//			.product-inner {
	//				height: 100%;
	//			}
	//		}
    //
	//	}
	//}
    //
    //
	///*........Home Page2........*/
    //
	//.section-onsale-product-carousel {
	//	.owl-nav {
	//		padding-bottom: 1.429em;
	//	}
    //
	//	.onsale-product-carousel {
	//		.onsale-product {
	//			.onsale-product-content {
	//				margin-top: 2.143em;
	//			}
    //
	//			.onsale-product-thumbnails {
	//				.savings {
	//					position: relative;
	//				}
	//			}
	//		}
	//	}
	//}
    //
	//.home-list-categories {
	//	ul.categories {
	//		> li.category{
	//			&:after {
	//				display: none;
	//			}
	//		}
	//	}
	//}
    //
	//.products-carousel-with-image {
	//	padding: 50px 0;
	//}
    //
    //
	///*........HomePage-3........*/
    //
	//.columns-6-1 {
	//	> ul.products{
	//		&.products-6 ,
	//		&.product-main-6-1{
	//			float: none;
	//		}
    //
	//		&.products-6 {
	//			padding-#{$end}: 0.9375rem;
	//		}
    //
	//		&.product-main-6-1{
	//			padding-#{$start}: 0.9375rem;
	//		}
	//	}
    //
	//	> ul.products.product-main-6-1 {
	//		.product-outer {
	//			height: inherit !important;
	//		}
    //
	//		 > .product {
	//		 	.thumbnails {
	//		 		margin-#{$end}: 0;
    //
	//		 		> a{
	//		 			width: 40%;
	//		 			margin-bottom: 10px;
	//		 		}
	//		 	}
	//		}
	//	}
	//}



	.columns-6-1 > ul.products.products-6 > li.product,
	.section-onsale-product .columns-6-1 > ul.products.products-6 > .onsale-product,
	.products-carousel .owl-item .columns-6-1 > ul.products.products-6 > .product {
		padding-#{$end}: 0;
		margin-bottom: 0.857em;
	}

	.columns-6-1 ,
	.section-onsale-product .columns-6-1,
	.section-onsale-product-carousel .onsale-product-carousel .onsale-product .columns-6-1,
	.products-carousel .owl-item .columns-6-1  {
		> ul.products.products-6 {
			> li.product:hover,
			> .onsale-product:hover,
			> .onsale-product-content:hover,
			> .product:hover {
				.product-inner {
				 	padding-bottom: 0;
				 	padding-#{$end}: 1.714em;

				 	.hover-area {
				 		padding-bottom: 1.429em;
				 	}
				}
			}
		}
	}


	.pagination {
		padding-top: 2.143em;
		margin-bottom: 2.143em;

	}

	.sidebar,
	.sidebar-blog {
		.widget {
		 	&:last-child {
		 		margin-bottom: 0;
		 	}
		}
	}



	/*........Store Category........*/

	.electro-store-directory {
		.widget_product_categories {
			.product-categories:not(.product-categories),
	  		> ul:not(.product-categories) {
	  			width: 100%;
	  		}
	  	}
	 }

	 #config {
		position: absolute !important;
	}
}


@include media-breakpoint-down(xs) {
	.navbar-primary {
		padding: 0 10px 40px 10px;
		.navbar-toggler {
			right: 0;
		}
		.collapse,
		.collapsing {
			position: absolute;
			top: 50px;
			right: 0;
			z-index: 5;
		}
		.nav {
			padding: 10px 15px;
			box-shadow: 0 0 3px #ccc;
			border-radius: 5px;
			background-color: #fff;
		}
	}

	.primary-nav .nav-inline > .menu-item {
		display: block;
	}

	.search-form-wrap {
		position: relative;
		width: 100%;
		bottom: -30px;
	}

	.language-select {
		position: absolute;
		left: 0;
		top: -10px;
	}



	/*........Header Menu Dropdown........*/

	.primary-nav {
		.nav-inline {
			> .menu-item {
				&.open {
					.dropdown-menu {
						position: static;
						top: auto;
						width: auto;
						float: none;
					}
				}
			}
		}
	}

	ul.products > li.product.list-view,
	.section-onsale-product ul.products > .list-view.onsale-product,
	.section-onsale-product ul.products > .list-view.onsale-product,
	.products-carousel .owl-item ul.products > .list-view.product,
	.products-carousel .owl-item ul.products > .list-view.product {
		margin: 0.857em 0;
	 	padding-bottom: 0;
	 	border-bottom: none;

	 	&:last-child {
	 		margin-bottom: 0.857em;
	 	}

	 	.media {
			border: 1px solid #ddd;

		}

	 	.media-left,
	 	.media-body {
	 		padding-#{$end}: 0;
	 		display: block;
	 		width: 100%;
	 	}

	 	.media-body {
	 		.row {
	 			margin: 0;

	 			.col-xs-12 {
	 				&:first-child {
	 					padding-#{$end}: 1.071em;
	 				}
	 			}
	 		}
	 	}

	 	.hover-area {
	 		border-top: 1px solid #eaeaea;
	 		padding: 1.071em 0;
	 	}

	 	&:hover,
	 	&:focus {
	 		.hover-area {
		 		border-top: 1px solid #eaeaea;
		 		padding: 1.071em 0;
		 	}
	 	}

	 	&.list-view-small {
	 		.hover-area {
		 		border-top: none;
		 		padding: 0 0 1.071em;
		 	}

		 	.media-body {
		 		margin-top: 20px;
		 	}

	 	 	&:hover,
		 	&:focus {
		 		.hover-area {
			 		border-top: none;
			 		//padding: 1.071em 0;
			 	}
		 	}
	 	}
	}

	//.accessories .col-left {
    //
	//	.products {
	//		li.product {
    //
	//			&::before {
	//				#{$start}:42%;
	//				transform: translateY(-74%);
	//				z-index: 1;
	//				top: inherit;
	//			}
    //
	//			.hover-area {
	//				display: none;
	//			}
	//		}
	//	}
	//}

	//.dropdown-menu-mini-cart {
	//	width: 308px;
	//	#{$end}: -25px !important;
	//}

}
