/*===================================================================================*/
/*  SCREEN-DOWN-MD
/*===================================================================================*/
@include media-breakpoint-down(md) {/* upto 991px*/

	/*........Top Bar........*/

	//.top-bar {
	//	.nav.nav-inline {
	//		float: none;
	//		text-align: center;
	//		margin: 0.714em 0;
    //
	//		&.pull-left.flip ,
	//		&.pull-right.flip{
	//			float: none !important;
	//		}
	//	}
	//}


	/*........Header........*/

	.header-logo,
	.primary-nav {
		margin-bottom: 0;
		float: none;
	}

	//.woocommerce-billing-fields {
	//	.form-row-first, .form-row-last {
	//		width: 100%;
	//	}
    //
	//	.form-row.form-row-last {
	//		padding-#{$start}: 0;
	//	}
    //
	//	.form-row.form-row-first {
	//		padding-#{$end}: 0;
	//	}
	//}

	//ul.products > li.product,
	//.section-onsale-product ul.products > .onsale-product,
	//.products-carousel .owl-item .product {
    //
	//	.product-inner {
	//		border: 1px solid #ddd;
    //
	//	}
    //
	//	.hover-area {
	//		display: block;
	//		padding-top: 1.071em;
	//		border-top: 1px solid #eaeaea;
	//	}
    //
	//	&:hover {
	//		.product-inner {
	//			box-shadow: none;
	//			position: relative;
	//		}
    //
	//		.hover-area {
	//			display: block;
	//			padding-top: 1.071em;
	//		}
	//	}
	//}

	.footer-newsletter {
		.newsletter-marketing-text {
			margin-#{$start}: 0;
			display: block;
			text-align: center;
		}
	}

	//.home-v3-ads-block .ad:first-child .ad-text {
	//	margin-bottom: 0px;
    	//font-size: 1.32em
	//}

	.header-logo {
		z-index: 1;
		float: $start;

		a.header-logo-link{
			display: inline-block;
		}
	}

	//.departments-menu > .nav-item {
	//	width: 100% ;
	//	margin-#{$end}: 0;
	//	text-align: center;
	//}

	.search-form-wrap {
		float: left;
		width: 70%;
	}

	.language-select {
		margin: 1.72em 0;
	}

	.navbar-search {
		width: 100%;
		margin: 0.714em 0;

		> .input-group {
			position: relative;
			display: block;

			.form-control.search-field {
				border-bottom: 1px solid #dddddd;
			    border-radius: 1.467em ;
				padding-right: 110px;

			    @include if-rtl {
			    	 border-top-#{$start}-radius: 1.467em ;
			    }
			}

			.search-categories.input-group-addon {
				border-bottom-#{$start}-radius: 1.467em;
	    		border-top-#{$start}-radius: 0;
	    		width: 100%;
				text-align: $start;

				select {
					padding: 0 1.75rem 0 1em;
					width: 100%;
				}
			}

			.input-group-btn {
				position: absolute;
				width: 82px;
				height: 100%;
				right: 0;
				> .btn {
					height: 100%;
					margin-left: 1px;
					padding: 1.036em 2.2em;
					//border-top-#{$end}-radius: 0;

					 @include if-rtl {
					 	border-bottom-left-radius: 1.467em;
					}
				}
			}

			.twitter-typeahead {
				display: block !important;
			}
		}

		.form-control {
			border-radius: 1.467em;
		}

		.search-field:not(:first-child):not(:last-child){
			@include if-ltr {
				border-top-left-radius: 1.467em;
			}

			@include if-rtl {
				border-top-right-radius: 1.467em !important;
				border-bottom-right-radius: 0 !important;
			}

		}

		.btn, button {
			border-radius: 1.571em;
		}
	}

	//.vertical-menu.make-absolute {
	//	position: relative;
	//	width: 100%;
	//}
    //
	//.dropdown-menu-mini-cart {
	//	//width: 305px;
	//	#{$end}: -1.071em;
    //
	//	p.buttons {
	//		@include clearfix();
    //
	//		.wc-forward {
	//			margin: 0 0.5em 0 0;
	//			padding: 0.6em 1.8em;
    //
	//			&.checkout {
	//				margin: 0 0 0 0.5em;
	//			}
	//		}
	//	}
	//}

	.navbar-primary {
		padding: 0.2rem 1rem;

		.container {
			position: relative;
		}

		.navbar-mini-cart {
			.dropdown-menu-mini-cart {
				#{$end}: -1.071em;
			}
		}
	 }

	/*........ Header Menu Dropdown........*/

	//.vertical-menu,
	//.departments-menu  {
	//	.menu-item-has-children {
	//		&.open {
	//			> .dropdown-menu {
	//				position: static !important;
	//				#{$start}: 0 !important;
	//				width: 100% !important;
	//				height: auto !important;
	//				opacity: 1 !important;
	//				visibility: visible !important;
	//				min-height: inherit !important;
	//			}
	//		}
    //
	//		&:hover,
	//		&:focus {
	//			> .dropdown-menu {
	//				opacity: 0;
	//				visibility: hidden;
    //
	//			}
	//		}
	//	}
	//}
    //
	//.departments-menu .departments-menu-dropdown {
	//	.menu-item-has-children {
	//
	//		&:hover,
	//		&:focus,
	//		&.open {
	//			> ul.dropdown-menu {
	//				position: static !important;
	//				display: block !important;
	//				margin-top: 0 !important;
	//				#{$start}: 0 !important;
	//				top: auto;
	//
	//			}
	//		}
	//	}
	//}
    //
    //
    //
	//.home-v2 {
	//	.departments-menu {
	//		> .dropdown {
	//			> .dropdown-menu {
	//				display: none;
	//			}
    //
	//			&.open {
	//				> .dropdown-menu {
	//					display: block;
	//				}
	//			}
	//		}
	//	}
	//}
    //
    //
	//.header-v1,
	//.header-v3 {
	//	.container {
	//		> .row:first-child {
	//			margin: 0 0 1.786em;
	//			position: relative;
	//		}
	//	}
    //
	//	.header-logo {
	//		float: none;
	//		width: 100%;
	//	}
    //
	//	.navbar-search {
	//		.input-group {
	//			.form-control {
	//				border-#{$end}: 2px solid transparent;
	//			}
    //
	//			.input-group-addon {
	//				border-#{$start}: 2px solid transparent;
	//				padding: 0.375rem 1.78rem;
    //
	//				select {
	//					padding: 0 1.75rem 0 0;
	//				}
	//			}
	//		}
	//	}
	//}
    //
	//.header-v1,
	//.header-v3,
	//.navbar-primary {
    //
	//	.navbar-nav + .navbar-nav,
	//	.navbar-search + .navbar-nav {
	//		margin-#{$start}: 0;
	//	}
    //
	//	.navbar-nav {
	//		&.navbar-compare {
	//			float: $start !important;
	//			padding-#{$start}: 0.714em;
	//		}
    //
	//		&.navbar-wishlist {
	//			bottom: 0;/*1.071em;*/
	//		    display: inline-block;
	//		    left: 50%;
	//		    position: absolute;
	//		    text-align: center;
	//		    @include transform( translateX( -50% ) );
	//		}
	//	}
	//}

	/*........Home Page 1.......*/

	//.products-2-1-2 {
	//	 .columns-2-1-2 {
	//	 	> ul.products:first-child {
	//	 		padding-#{$end}: 0.9375rem;
	//	 	}
    //
	//	 	> ul.products:last-child {
	//	 		padding-#{$start}: 0.9375rem;
	//	 	}
	// 	}
	// }
    //
	///*........Home Page 2........*/
	//.columns-3 {
	//	.products {
	//		.product-card {
	//			.hover-area {
	//				.action-buttons {
	//					> div:first-child,
	//					> a:first-child,
	//					> div:last-child,
	//					> a:last-child {
	//						float: none;
	//					}
	//				}
	//			}
	//		}
	//	}
	//}
    //
    //
	//.home-v2 {
	//	#sidebar {
	//		margin-top: 5.714em !important;
	//	}
	//}
    //
	//.home-v2-slider {
	//	left: 50%;
	//}
    //
	///*..........Home Page 3........*/
    //
	//.features-list.columns-5 {
	//	.feature {
    //
	//		&,
	//		& + .feature {
	//			border-bottom: 1px solid #ddd;
	//			border-#{$start}: none;
    //
	//			&:last-child {
	//				border-bottom: none;
	//			}
	//		}
	//	}
	//}
    //
    //
    //
	///*........Shop Page........*/
    //
    //
	//.shop-control-bar-bottom {
	//	.woocommerce-result-count {
	//		float: $end;
	//	}
    //
	//	.woocommerce-pagination {
	//		clear: both;
	//		display: block;
	//		text-align: center;
	//		float: none;
    //
	//		ul.page-numbers {
	//			display: inline-block;
	//			margin-top: 1.429em;
	//		}
	//	}
    //
	//}
    //
	//.shop-control-bar .form-electro-wc-ppp {
	//	margin-#{$start}: 0;
	//}
    //
	///*........Single producy Page........*/
    //
	//.advanced-review {
	//	.rating-histogram {
	//		.rating-bar .star-rating {
	//			margin-#{$end}: 2em;
	//		}
    //
	//		.rating-percentage-bar {
	//			margin-#{$start}: 0;
    //
	//		}
	//	}
	//}
    //
	//.single-product {
	//	.cart {
	//		margin-bottom: 1.429em;
    //
	//		.quantity {
	//			margin-bottom: 1.429em;
	//		}
	//	}
    //
	//	table.variations th,
	//	table.variations td {
	//		padding: 0.571em;
	//	}
	//}
}
