/*===================================================================================*/
/*  SCREEN-MD-LG
/*===================================================================================*/
@include media-breakpoint-up(md) {
    @include media-breakpoint-down(lg) {/*768-1200*/

        .footer-bottom-widgets {
            .columns {
                & + .columns {
                    margin-#{$start}: 2.500em;
                }
            }
        }

        .primary-nav .nav-inline .yamm-fw .dropdown-menu {
            width: 720px;
        }


        /*........Single Product........*/

        .extended {
            .single-product-wrapper {
                > .product-actions-wrapper {
                    .product-actions {
                        padding: 1.071em 1.429em;

                        div.quantity {
                            width: auto;
                        }

                    }
                }
            }
        }

        .advanced-review {
            .rating-histogram {
                .rating-percentage-bar {
                    width: 10em;
                }
            }
        }

        .extended.full-width #primary #tab-description {
            .electro-description {
                .layout {
                    margin-bottom: 80px;

                    tr td {
                        &:last-child img{
                            #{$start}: 57px;
                        }
                    }

                    &:last-child tr td:first-child img{
                        #{$end}: 57px;
                    }
                }
            }
        }



        /*........Shop Page........*/


        .shop-control-bar {

            .woocommerce-ordering {
                float: $end;
            }

            .form-electro-wc-ppp {
                float: $start;
                clear: both;
                margin-top: 1.429em;
            }

            .electro-advanced-pagination {
                margin-top: 1.429em;
            }
        }

        .header-v1,
        .header-v3,
        .navbar-primary {
            .navbar-nav,
            .navbar-search {
                & + .navbar-nav {
                    margin-#{$start}: 1.714em;
                }
            }
        }

        /*........Home Page........*/

        .products-2-1-2 {
            .nav-inline {
                white-space: normal;

               .nav-item {
                margin-bottom: 0.714em;

                    & + .nav-item {
                        margin-#{$start}: 1.429em;
                    }
                }
            }
        }

        .columns-6-1,
        .section-onsale-product .columns-6-1 ,
        .section-onsale-product-carousel .onsale-product-carousel .onsale-product .columns-6-1,
        .products-carousel .owl-item .columns-6-1 {
            > ul.products {
                > li.product,
                 > .onsale-product ,
                  > .onsale-product-content ,
                  .product{
                    .price {
                        font-size: 1.429em;
                    }
                }
            }
        }

        li.product .price,
        .section-onsale-product .onsale-product .price,
         .section-onsale-product-carousel .onsale-product-carousel .onsale-product .onsale-product-content .price,
         .products-carousel .owl-item .product .price {
            font-size: 1.286em;
         }

        section.section-product-cards-carousel {
            .product-cards-carousel  {
                clear: both;
            }
        }

        .products {
            .product.product-card {
                .product-inner {
                    padding: 1.786em 1.071em;
                }

                .media-body {
                    padding-#{$start}: 0.714em;
                }
            }
        }

        .products-carousel {
            .owl-stage-outer {
                padding: 0 0.214em 3.571em;
            }
        }

        li.product .added_to_cart, .section-onsale-product .onsale-product .added_to_cart,
        .section-onsale-product-carousel .onsale-product-carousel .onsale-product .onsale-product-content .added_to_cart,
        .products-carousel .owl-item .product .added_to_cart, li.product .button, .section-onsale-product .onsale-product .button,
         .section-onsale-product-carousel .onsale-product-carousel .onsale-product .onsale-product-content .button,
        .products-carousel .owl-item .product .button {
            position: relative;
        }
    }
}
