/*===================================================================================*/
/*  SCREEN-SM-MD
/*===================================================================================*/
@include media-breakpoint-up(sm) {
    @include media-breakpoint-down(md) {/*544-991*/

        #content {
            #sidebar {
                margin-top: 50px !important;
            }
        }

    	.primary-nav,
    	.header-support-info {
    		width: 100%;
    		text-align: center;
            display: inline-block;
    	}

        .header-support-info {
    		float: none;

    		.media-body, .media-left, .media-right {
    			display: inline-block;
    		}

    		.media-body {
    			width: auto;
    		}

    		.media-left {
    			padding-#{$end}: 10px;
    			padding-#{$start}: 0;
    		}
    	}

    	.primary-nav {
    		float: $start;
    	}

        .home-v1-ads-block{
    		.ad {
    			.media-left {
    				padding: 0;
    		    	width: 100%;
    			}

    			.media-body {
    				display: block;
    			    text-align: center;
    			    width: 100%;
    			}
    		}
    	}

        .products-carousel-tabs .tab-content {
            ul.products{
                margin-#{$end}: -10px;
                margin-#{$start}: -10px;

                > li.product {
                    width: 50%;
                    padding-#{$end}: 6px;
                    padding-#{$start}: 6px;

                    &::after {
                        display: none;
                    }

                    &.first {
                        clear: none;
                    }
                }
            }
        }

        .product-cards-carousel {
            ul.products{

                > li.product {
                    width: 100%;
                    padding-#{$end}: 0;
                    padding-#{$start}: 0;
                    margin: 0.4em 0;

                    .price {
                        font-size: 1.429em;
                    }
                }
            }
        }

        .products .product.product-card .media-body {
            padding-#{$start}: 1.929em !important;
        }

        .products-carousel-tabs .tab-content {
            margin-top: 30px;

            .products {
                .owl-stage {
                    .owl-item:not(.active) + .owl-item.active .product,
                    .owl-item.active:first-child .product {
                        margin: 0;
                    }
                }

                .owl-item {
                    margin-bottom: 10px;

                    .product {
                        &::after {
                            display: none;
                        }
                    }
                }
            }
        }

        .products-2-1-2 {
            li.product .hover-area {
                background-color: transparent;
            }
        }

        .products-6-1 {
            .columns-6-1 ul.products.products-6 {
                li.product {
                    width: 50%;
                    margin-top: 0.4em;

                    &:hover {
                        .product-inner {
                            padding-#{$end}: 1.714em;
                        }
                    }

                    &.first {
                        clear: none;
                    }
                }
            }
        }

        .section-products-carousel {
            .products-carousel .owl-item .product {
                margin: 0;
                padding-#{$end}: 6px;
                padding-#{$start}: 6px;

                &::after {
                    display: none;
                }
            }

            .products-carousel .owl-stage .owl-item.active:first-child .product {
                margin: 0;
            }
        }

        .product-cards-carousel {
            .products .product.product-card .media-body .hover-area {
                visibility: visible;
                opacity: 1;
            }
        }

		.primary-nav {

			 .nav-inline {
			  	> .menu-item {
			  		display: inline-block;

			  		&.dropdown + .menu-item {
			  			margin-#{$start}: 0;
			  		}

			  		& + .menu-item {
			  			margin-#{$start}: 0;
			  		}

			  		> a{
			  			display: block;
			  			padding: 0.6em 0.800em;
			  		}
			  	}
			}
		}

        .header-support-info {
            .media {
                width: 50%;
                display: inline-block;
            }
        }


    	.footer-bottom-widgets {
    		@include make-row();
            margin-#{$start}: 0;
            margin-#{$end}: 0;

    		.columns {
    			@include make-col();
    			@include make-col-span(4);

    			& + .columns {
    				margin-#{$start}: 0 !important;
    			}
    		}
    	}

        .home-list-categories ul.categories > li.category:nth-child(2n)::after,
        .home-list-categories ul.categories > li.category:last-child::after  {
            content: none;
            display: none;
        }

        .home-list-categories ul.categories > li.category:nth-child(3n)::after {
            content: "";
        }

        .home-list-categories ul.categories > li.category:nth-child(4n) {
            clear: none;
        }

        .product_list_widget {
            .product-title {
                margin-#{$start}: 95px;
            }
        }

        ul.products > li.product.list-view,
        .section-onsale-product ul.products > .list-view.onsale-product,
        .section-onsale-product-carousel .onsale-product-carousel .onsale-product ul.products > .list-view.onsale-product-content,
        .products-carousel .owl-item ul.products > .list-view.product{

            .media-body{
                .col-xs-12{
                    &:first-child {
                        padding-#{$end}: 1.071em;
                        width: 55%;
                    }

                    &:last-child {
                        width: 45%;

                        .hover-area {
                            padding-top: 0;
                            border-top: none;
                        }
                    }
                }
            }
        }

        .products-2-1-2 {
            .columns-2-1-2 {
                > ul.products:first-child,
                > ul.products:last-child {
                    > li.product {
                        width: 50%;
                        float: $start;

                        &:first-child {
                            padding-#{$end}: 6px;
                        }

                        &:last-child {
                            padding-#{$start}: 6px;
                        }
                    }
                }
            }
        }

        ul.products {
            margin-top: 10px;

            > li.product {
                padding-#{$start}: 6px;
                padding-#{$end}: 6px;
                width: 50%;
                margin: 0.4em 0;

                &::after {
                    display: none;
                }

                &:nth-child(even) {
                    clear: none;
                }
            }
        }

    	.electro_posts_carousel_widget {
            .section-posts-carousel {
                .post-item {
                    padding-#{$end}: 6px;
                    padding-#{$start}: 6px;
                }
            }
        }

        .vertical-menu.make-absolute {
            overflow: hidden;

    		> .menu-item,
    		.dropdown-menu > .menu-item {
    			overflow: hidden;
    		}
        }

        #sidebar > aside {
            width: 50%;
            float: #{$start};
            padding-#{$end}: 8px;
            padding-#{$start}: 8px;

            &:last-child {
                clear: both;
            }
        }

        .widget_electro_products_carousel_widget {
            .section-products-carousel {
                margin-bottom: 0;
            }

            .products-carousel{
                .owl-stage-outer {
                    padding-bottom: 0;
                }
            }
        }


        section.section-product-cards-carousel {
            header {
                border: none;

        		ul.nav {
                    padding-top: 1.143em;
                    float: none;
                    text-align: center;
                    border-top: 1px solid #dadada;
                }
            }
        }

        .extended {
        	.single-product-wrapper {

        		.product-images-wrapper,.summary.entry-summary {
                    @include make-col-span(6);
                }

                .product-actions-wrapper {
                    @include make-col-span(12);
                    margin-top: 60px;
                }
            }
        }

        .single-product.full-width .single-product-wrapper {
            margin-bottom: 5.429em;
        }

        #primary #tab-description .electro-description .layout tr td:last-child img {
            #{$start}:60px;
            width: 100%;
        }

        #primary #tab-description .electro-description .layout:last-child tr td:first-child img {
            #{$end}: 60px;
            width: 100%;
        }

        #tab-accessories.electro-tabs .ec-tabs {
            margin-bottom: 3.571em;
        }

        .accessories .col-left {
            width: 100%;
            padding: 0;

            ul.products {
                margin-#{$end}: -1.429em;

                > li {
                    @include make-col-span(4);

                    .hover-area {
                        display: none;
                    }
                }
            }

            .check-products {
                margin-top: 60px;
                width: 56%;
            }
        }

        .accessories .row {
            position: relative;
        }

        .accessories .col-right {
            bottom: 0;
            padding: 0;
            position: absolute;
            right: 0;
            text-align: center;
        }
    }
}

@include media-breakpoint-up(md) {
    @include media-breakpoint-down(md) {
         @include if-rtl {
             .footer-widgets {
                .col-md-4 {
                    width: 33.3333%;
                }
            }

            .footer-bottom-widgets {
                // .col-md-push-5 {
                //     right: 41.6667%;
                // }

                // .col-md-7 {
                //     width: 58.3333%;
                // }

                // .col-md-pull-7 {
                //     left: 58.3333%;
                // }

                // .col-md-5 {
                //     width: 41.6667%;
                // }

                .col-md-push-5 {
                    right: 41.6667%;
                }

                .col-md-7 {
                    width: 58.3333% !important;
                }

                .col-md-pull-7 {
                    left: 58.3333% !important;
                    right: auto;
                }

                .col-md-5 {
                    width: 41.6667% !important;
                }
            }
        }
    }
}
