/*===================================================================================*/
/*  Navbar
/*===================================================================================*/

.navbar-primary {
	padding: 0.358em 1rem;

	a[data-toggle="dropdown"] {
		&::after {
			content: '\79';
			font-family: 'font-electro';
			color: $color-body;
			border-top: none;
			border-#{$start}: none;
			border-#{$end}: none;
			margin-#{$start}: 0.857em;
			width: auto;
			height: auto;
		}
	}

	.navbar-nav .nav-link {
		line-height: 2.143em;
		font-weight: bold;
		font-size: 1.142em;
		color: $color-body;
	}

	.navbar-nav + .navbar-nav,
	.navbar-search + .navbar-nav {
		margin-#{$start}: 2.714em;

		&.navbar-compare {
			margin-#{$start}: 0;
		}
	}

	.navbar-nav > .menu-item {
		float: $start;
	}

	.navbar-nav > .menu-item {
		> a {
			display: block;
			font-size: 1.143em;
			font-weight: bold;
			line-height: 1.125em;
			color: $color-body;
			padding: 1.358em 1.375em;
			border-#{$end}: 1px solid transparent;

			@include hover-focus {
				color: $color-body;
				text-decoration: none;
			}
		}

		&:last-child {
			> a {
				border-#{$end}: 0;
			}
		}
	}

	.navbar-mini-cart {

		.dropdown-menu-mini-cart {
			top: 108% !important;
			#{$end}: -25px;
			box-shadow: none;
			padding: 2.2em 2.1em 1.2em 2.1em;
			border: 2px solid transparent;
		}

		.nav-link {
			&::after {
				content: none;
			}
		}

		.cart-items-count {
			background-color: $color-body;
			color: #fff;
		}
	}

	.nav:before,
	.nav:after {
		display: none;
	}
}

.header-v1 + .navbar-primary {
	padding: 0;
}

.navbar-primary #header-v3 .navbar-nav,
.primary-nav .nav-inline,
.top-bar .nav-inline {
	.dropdown-menu {
		.menu-item > a {
			@include dropdown-item();
			padding: 0.571em 1.429em;
		}
	}

	.menu-item .dropdown-menu {
		opacity: 0;
		position: absolute;
		display: block;
		visibility: hidden;
		border-radius: 0;
		border-top-width: 2px;
		border-top-style: solid;
	}

	>.menu-item.open >.dropdown-menu,
	>.menu-item .dropdown-menu .menu-item-has-children:hover >.dropdown-menu{
		opacity: 1;
		visibility: visible;
		transition-delay: 0s;
	}

	>.menu-item {
		.dropdown-menu {
			.menu-item-has-children {
				.dropdown-menu {
					top: 0;
					#{$start}: 100%;
				}
			}
		}
	}
}

.navbar-primary #header-v3 .navbar-nav {
	.menu-item .dropdown-menu {
		top: 100%;
	}
}

.primary-nav .nav-inline {
	.menu-item .dropdown-menu {
		top: 46px;
	}
}


.navbar-primary #header-v3 .navbar-nav {
	>.menu-item >a[data-toggle="dropdown"] {
		&::after {
			display: none;
		}
	}
}

.navbar-primary #header-v3 .navbar-nav >.menu-item.open {
	.dropdown-menu {
		transform: translateY(0%);
	}
}

.navbar-mini-cart i.ec,
.navbar-search i.ec,
.navbar-wishlist i.ec,
.navbar-compare i.ec {
	line-height: 0.9em;
	font-size: 1.429em;
}

.primary-nav .nav-inline .yamm-fw.open > a {
	position: relative;
	&::before {
		position: absolute;
		@include animation(fadeIn 2s);
		content: " ";
		border-#{$start}: 8px solid transparent;
	    border-#{$end}: 8px solid transparent;
	    bottom: -16px;
	    #{$start}: 50%;
		border-bottom-width: 8px;
		border-bottom-style: solid;
	    transform: translate(-50%, -50%);

	}
}

@include keyframes(fadeIn) {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}
