/*===================================================================================*/
/*  Products Carousel Tabs
/*===================================================================================*/

.products-carousel-tabs {
	.nav-inline {
		text-align: center;
		border-bottom: 1px solid #ddd;

		.nav-item +.nav-item {
			margin-#{$start}: 4em;
		}
	}

	.nav-link {
		color: $color-body;
		font-size: 1.429em;
		line-height: 0.9em;
		padding-bottom: 1em;

		@include hover-focus {
			color: $color-body;
		}

		&.active {
			font-weight: bold;
			position: relative;

			&::before {
				content: ' ';
				height: 4px;
				width: 10px;
				display: block;
				position: absolute;
				bottom: -5px;
				left: 50%;
				@include border-radius( 0 0 10px 10px );
				@include transform( translateX( -50% ) );
			}

			&::after {
				content: ' ';
				border-bottom: 2px solid transparent;
				display: block;
				position: absolute;
				bottom: -1px;
				width: 100%;
			}
		}
	}
}