/*===================================================================================*/
/*  Shop Control Bar
/*===================================================================================*/

.shop-control-bar {
	background-color: #f5f5f5;
	padding: 0.714em 1.429em;
	border-radius: 9px;
	@include clearfix();

	.shop-view-switcher {
		float: $start;
		min-height: 1px;
		position: relative;
		border: none;

		@include media-breakpoint-up(lg) {
			@include make-col-span(3);
		}

		.nav-link {
			color: #d6dbe1;
			font-size: 1.286em;
			//line-height: 2em;
			line-height: 2.24em;
			border: none;
			border-radius: 0;
			padding: 0;

			@include hover-focus {
				text-decoration: none;
				color: #575560;
			}

			&.active {
				text-decoration: none;
				color: #575560;
				background-color: transparent;
			}
		}

		.nav-item {
			& + .nav-item {
				margin-#{$start}: 0.714em;
				margin-#{$start}: 1.071em;
			}
		}
	}

	.woocommerce-ordering {
		float: $start;
		width: auto;
		padding: 1px 0;
	}

	.form-electro-wc-ppp {
		float: $start;
		margin-#{$start}: 1em;
		padding: 1px 0;
	}

	.electro-advanced-pagination {
		float: $end;
		//line-height: 2.643em;
		line-height: 2.43em;
    	padding: 1px 0;
	}

	&.product-filters-widgets {
		margin-bottom: 0.714em;

		.sidebar .widget {
			margin: 2em 1em;

			ul li a {
				padding: 0.2em 0;
				&:hover {
					color: #000;
				}
			}
		}
	}
}

.shop-control-bar-bottom {
	border-top: 1px solid #eaeaea;
	padding: 1.714em 0;
	@include clearfix();

	.form-electro-wc-ppp {
		float: $start;
		padding: 0.215em 0;
	}

	.woocommerce-result-count {
		margin-bottom: 0;
		float: $start;
		line-height: 3em;
		margin-#{$start}: 2em;
	}

	.woocommerce-pagination {
		float: $end;

		.prev, .next {
			display: none;
		}
	}
}

@include if-rtl {
	.nav-tabs .nav-item {
		float: right;
	}
}
