/*===================================================================================*/
/*  Widgets
/*===================================================================================*/

.widget {

	img {
		@include img-fluid();
	}

	select {
		@include c-select();
		max-width: 100%;
	}
}

#wp-calendar {
	width: 100%;
	
	caption {
		text-align: $end;
		color: #333;
		font-size: 0.857em;
		margin-bottom: 1.250em;
		caption-side: top;
	}
	
	thead {
		font-size: 0.714em;
		
		th {
			padding-bottom: 1em;
			text-align: center;
		}
	}
	
	tbody {
		color: #aaa;
		
		td {
			background: #f5f5f5;
			border: 1px solid #fff;
			text-align: center;
			padding: 8px;
			
			&:hover {
				background: #fff;
			}

			a {
				font-weight: bold;
				color: $color-body;

				@include hover-focus {
					text-decoration: none;
				}
			}
		}
		
		.pad {
			background: none;
		}
	}
	
	tfoot {
		
		#next {
			font-size: 0.714em;
			text-transform: uppercase;
			text-align: $end;
		}
		
		#prev {
			font-size: 0.714em;
			text-transform: uppercase;
			padding-top: 1em;
		}
	}
}

.widget_recent_comments {
	.recentcomments + .recentcomments {
		margin-top: 0.5em;
		padding-top: 0.5em;
	}

	a {
		font-weight: bold;
	}
}

.widget_rss {

	.widget-title {
		.rss-widget-icon {
			display: none;
		}

		.rsswidget {
			display: block;
			color: $color-body;

			@include hover-focus {
				color: $color-body;
				text-decoration: none;
			}
		}
	}
	
	li {
		.rsswidget {
			font-size: 110%;
			font-weight: bold;
			display: block;
		}

		.rss-date {
			font-size: 80%;
		}

		.rssSummary {
			margin: 0.429em 0;
		}
	}

	li + li {
		margin-top: 1em;

		&:before {
			border-top: 1px solid #ddd;
			content: '';
			display: block;
			padding-top: 1em;
		}
	}
}

.widget_search {
	form.search-form {
		label {
			display: block;
		}

		.search-field {
			border: 1px solid #dddddd;
		    border-radius: 50px;
		    line-height: 1.286em;
		    padding: 0.929em 1.929em;
		    width: 100%;
		    color: #818181;
		}
	}
	.search-submit {
		display: none;
	}
}

.widget_tag_cloud {
	.tagcloud {
		a {
			background: transparent;
			border-color: #e4e5e7;
		    border-style: solid;
		    border-width: 1px;
		    color: #565656;
		    display: inline-block;
		    font-size: 1.000em !important;
		    line-height: 1;
		    margin: dir-values(0 0.457em 0.731em 0);
		    padding: 0.823em 0.788em;

		    &:hover,
		    &:focus {
		    	text-decoration: none;
		    	color: #fff;
		    }
		}
	}
}
