.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
}
.pagination {
  margin-top: 20px;
}
footer {
  background: #343a40;
  padding: 40px;
  color: #f8f9fa;

  a {
    color: #f8f9fa;
  }
}
