/*===================================================================================*/
/*  ELECTRO-WC-PPP-SELECT
/*===================================================================================*/
.electro-wc-wppp-select {
	border-radius: 1.071em;
	color: #7e7e7e;
	border-color: #e3e3e3;
}
