/*===================================================================================*/
/*  UTILITIES
/*===================================================================================*/
.inner {
	padding-top: 8.571em;
	padding-bottom: 8.571em;
}

.inner-md {
	padding-top: 7.143em;
	padding-bottom: 7.143em;
}

.inner-sm {
	padding-top: 5.714em;
	padding-bottom: 5.714em;
}

.inner-xs {
	padding-top: 2.857em;
	padding-bottom: 2.857em;
}

.inner-top {
	padding-top: 8.571em;
}

.inner-top-md {
	padding-top: 3.143em;
}

.inner-top-sm {
	padding-top: 2.714em;
}

.inner-top-xs {
	padding-top: 1.857em;
}

.inner-bottom {
	padding-bottom: 6.571em;
}

.inner-bottom-md {
	padding-bottom: 7.143em;
}

.inner-bottom-sm {
	padding-bottom: 4.714em;
}

.inner-bottom-xs {
	padding-bottom: 1.857em;
}

.inner-left {
	padding-#{$start}: 5.357em;
}

.inner-left-md {
	padding-#{$start}: 4.286em;
}

.inner-left-sm {
	padding-#{$start}: 3.214em;
}

.inner-left-xs {
	padding-#{$start}: 2.143em;
}

.inner-right {
	padding-#{$end}: 5.357em;
}

.inner-right-md {
	padding-#{$end}: 4.286em;
}

.inner-right-sm {
	padding-#{$end}: 3.214em;
}

.inner-right-xs {
	padding-#{$end}: 2.143em;
}

.outer {
	margin-top: 8.571em;
	margin-bottom: 8.571em;
}

.outer-md {
	margin-top: 7.143em;
	margin-bottom: 7.143em;
}

.outer-sm {
	margin-top: 5.714em;
	margin-bottom: 5.714em;
}

.outer-xs {
	margin-top: 2.857em;
	margin-bottom: 2.857em;
}

.outer-top {
	margin-top: 8.571em;
}

.outer-top-md {
	margin-top: 7.143em;
}

.outer-top-sm {
	margin-top: 5.714em;
}

.outer-top-xs {
	margin-top: 2.857em;
}

.outer-bottom {
	margin-bottom: 8.571em;
}

.outer-bottom-md {
	margin-bottom: 7.143em;
}

.outer-bottom-sm {
	margin-bottom: 5.714em;
}

.outer-bottom-xs {
	margin-bottom: 2.857em;
}

.center-block {
	float: none;
}

.height-xs {
	height: 30vh;
}

.height-sm {
	height: 44vh;
}

.height-md {
	height: 61vh;
}

.height-lg {
	height: 90vh;
}

.no-margin {
	margin: 0;
}

.animate-in-view {
	opacity: 0;
}

.animated {
	opacity: 1;
}
