/*===================================================================================*/
/*  WC-BREADCRUMB
/*===================================================================================*/
.woocommerce-breadcrumb {
	margin-top: 1.786em;
	margin-bottom: 2.571em;

	a {
		color: $color-body;
		display: inline-block;

		@include hover-focus {
			color: $color-body;
			text-decoration: none;
		}
	}

	span.delimiter {
		margin: 0 1.429em;

		& + a {
			padding: 0.465em 0.929em;
			background-color: #f5f5f5;
			border-radius: 0.357em;

			@include hover-focus {
				background-color: darken( #f5f5f5, 5% );
			}
		}

		@include if-rtl {
			i {
				@include transform( rotate(180deg));
			}
		}
	}
}
