/*===================================================================================*/
/* Base
/*===================================================================================*/

* {
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
	background-color: $body-background;
	color: $color-body;
	direction: $text-direction;
}

a:focus {
	outline: none;
}

a:hover,a:focus {
	text-decoration: none;
}

.clearfix {
	@include clearfix;
}

.hide {
	display: none !important;
}

.show {
	display: block !important;
}

/**
 * Alignment
 */
.alignleft {
	display: inline;
	float: left;
	margin-right: $vspacing;

	&.flip{
        float: right !important;
        margin-left: $vspacing !important;
    }
    
}
.alignright {
	display: inline;
	float: right;
	margin-left: $vspacing;

	&.flip{
        float: left !important;
        margin-right: $vspacing !important;
    }
    
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/**
 * Accessibility
 */
.screen-reader-text {
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	display: block;
	font-weight: bold;
	height: auto;
	#{$start}: 0;
	line-height: normal;
	padding: 1em 1.618em;
	text-decoration: none;
	top: 0;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
	outline: none;
}

/**
 * Clearing
 */
.clear,
.entry-content,
.comment-content,
.site-header,
.site-content,
.site-footer {
	@extend %clearfix !optional;
}

.light-bg {
	background: #f5f5f5;
}

img[src="assets/images/blank.gif"] {
  background: url("../images/ajax-loader.gif") no-repeat scroll center center #FFFFFF;
  width: 100%;
}