/*===================================================================================*/
/*  Page
/*===================================================================================*/
section {
	margin-bottom: 3.571em;
	
	header {
		margin-bottom: 2.857em;
		border-bottom: 1px solid #dadada;

		h1, .h1 {
			font-size: 1.786em;
			line-height: 1.6em;
			display: inline-block;
			padding-bottom: 0.400em;
			position: relative;
			margin-bottom: 0;

			&:after {
				content: ' ';
				border-bottom: 2px solid transparent;
				display: block;
				position: absolute;
				bottom: -1px;
				width: 100%;
			}
		}
	}
}

section > h2 {
	font-size: 1.786em;
	line-height: 1.6em;
	position: relative;
	margin-bottom: 1.6em;
}

.page{
	.entry-header {
		text-align: center;
		margin-bottom: 2.857em;

		h1 {
			font-size: 2.857em;
			letter-spacing: -0.025em;
			margin-bottom: 0;
		}

		.entry-subtitle {
			color: #9f9f9f;
		}

		&.header-with-cover-image {
			background-size: cover;
			background-position: center top;
			width: 100vw;
			margin-#{$start}: -50vw;
			#{$start}: 50%;
			position: relative;
			min-height: 589px;
			margin-bottom: 0;

			.caption {
				position: absolute;
				#{$start}: 50%;
				top: 50%;
				@include transform( translate(-50%, -50%));

				h1 {
					font-weight: 700;
					margin-bottom: 0;
				}

				.entry-subtitle {
					color: #434343;
					font-size: 1.286em;
					position: relative;
					top: 1.667em;
				}

			}
		}
	}
}