/*===================================================================================*/
/*  WooCommerce
/*===================================================================================*/
.woocommerce-page {
	
	.page-header {
		position: relative;
		margin-bottom: 1.429em;

		.woocommerce-result-count {
			position: absolute;
			margin: 0;
			#{$end}: 0;
			top: 50%;
			@include transform( translateY(-50%) );
		}
	}

	.page-title {
		font-size: 1.786em;
		line-height: 1.6em;
		margin: 0;
	}
}

.woocommerce-message,
.woocommerce-info,
.woocommerce-error,
.woocommerce-noreviews,
p.no-comments {
	padding: 1em 1.618em;
	@include clearfix;
	margin-bottom: 2.618em;
	background-color: $brand-success;
	margin-#{$start}: 0;
	border-radius: 2px;
	color: #fff;
	clear: both;
	border-#{$start}: .618em solid rgba(0,0,0,0.15);

	a {
		color: #fff;

		&:hover {
			color: #fff;
			opacity: 0.7;
		}

		&.button:hover {
			opacity: 1;
		}
	}

	.button {
		float: $end;
		padding: 0;
		background: none;
		color: #fff;
		box-shadow: none;
		line-height: 1.618;
		padding-#{$start}: 1em;
		border-width: 0;
		border-#{$start}-width: 1px;
		border-#{$start}-style: solid;
		border-#{$start}-color: rgba(255,255,255,0.25) !important;
		border-radius: 0;

		&:hover {
			background: none;
			color: #fff;
			opacity: 0.7;
		}
	}

	pre {
		background-color: rgba(0,0,0,.1);
	}
}

.site-content {
	> .container {
		> .woocommerce {
			> .woocommerce-message,
			> .woocommerce-info,
			> .woocommerce-error {
				&:first-child {
					margin-top: 2.618em;
				}
			}
		}
	}
}

.wc-forward {
	&:after {
		content: "\f178";
		font-family: "FontAwesome";
		margin-#{$start}: .53em;
		font-weight: 400;
	}
}

.woocommerce-error {
	list-style: none;
}

.woocommerce-info,
.woocommerce-noreviews,
p.no-comments {
	color: $color-body;

	a, button {
		color: $color-body;
		font-weight: bold;

		@include hover-focus {
			color: $color-body;
			text-decoration: none;
		}
	}
}

.woocommerce-error {
	background-color: $brand-danger;
}

dl.variation {
	font-size: .857em;
	margin: 0.857em 0 0 0;

	dd {
		margin: 0 0 1em;

		p {
			margin: 0;
		}
	}
}

.in-stock span {
	color: $brand-success;
}

.out-of-stock span {
	color: $brand-danger;
}

.available-on-backorder span {
	color: $brand-warning;
}