/*===================================================================================*/
/*  STORE-DIRECTORY-PAGE
/*===================================================================================*/
.electro-store-directory {
	.widget_product_categories .product-categories,  .widget_product_categories > ul {
		@include clearfix;
		border: 0;

		> li {
			> a {
				font-weight: 700;
			}

			.children {
				display: block !important;

				.no-child {
					display: none;
				}
			}
		}

		&:not(.product-categories) {
			float: left;
			width: 25%;
			margin: 0;
		}

		.child-indicator, .no-child {
			display: none;
		}

		li {
			border: none;
		}

		&,
		ul {
			margin:0 0 0 1em; /* indentation */
			padding:0;
			list-style:none;
			color:#369;
			position:relative;
		}

		ul {margin-#{$start}:.5em} /* (indentation/2) */

		&:before,
		ul:before {
			content:"";
			display:block;
			width:0;
			position:absolute;
			top:0;
			bottom:0;
			#{$start}:0;
			border-#{$start}:1px solid #ddd;
		}

		li {
			margin:0;
			padding:0 1.5em; /* indentation + .5em */
			line-height:2em; /* default list item's `line-height` */
			position:relative;
		}

		li:before {
			content:"";
			display:block;
			width:10px; /* same with indentation */
			height:0;
			border-top:1px solid #ddd;
			margin-top:-1px; /* border top width */
			position:absolute;
			top:1.571em; /* (line-height/2) */
			#{$start}:0;
		}

		li:last-child:before {
			background:white; /* same with body background */
			height:auto;
			top:1em; /* (line-height/2) */
			bottom:0;
		}
	}
}
