/*===================================================================================*/
/*  FAQ-PAGE
/*===================================================================================*/
.faq-page-title {
	padding-bottom: 0.880em;
	border-bottom: 1px solid #dadada;
	margin-bottom: 1.600em;
	margin-top: 1.000em;
}

h3.faq-title {
	font-size: 1.143em;
	line-height: 2.500em;
	font-weight: 700;
	color: #434343;
	margin-bottom: 1.250em;
}

.text-content {
	p {
		color: #434343;
	}
}

.faq-accordion {
	&.vc_tta.vc_general {
		.vc_tta-panel-heading,
		.vc_tta-panel-body {
			border: none !important;
		}

		.vc_tta-panel {
			&:first-child {
				.vc_tta-panel-title {
					border-top: none;
				}
			}
		}

		.vc_tta-panel-heading {
			&,
			&:hover,
			&:focus {
				background: #fff !important;
			}
		}

		.vc_tta-panel-title {
			font-size: 1.786em;
			border-top: 1px solid #ddd;

			> a{
				color: #434343 !important;
				padding: dir-values(1.120em 0.800em 1.120em 0);

				i.vc_tta-controls-icon {
					width: 15px;
					height: 15px;
				}
			}

		}

		.vc_tta-panel-body {
			color: #747474;
			background: transparent !important;
			padding: dir-values(1.000em 1.429em 4.286em 0);
		}
	}
}

.entry-content {
	// using .entry-content class to override js_composer.css

	.vc_toggle {
		margin: 0;
		border-bottom: 1px solid #ddd;
		margin-bottom: 0;

		.vc_toggle_title {
			padding: dir-values( 25px 0 ) !important;

			h4 {
				font-size: 1.786em;
				color: #434343 !important;
				margin: 0;

				a {
					display: block;
					&:after {
						font-family: 'FontAwesome';
						float: $end;
						content: "\f107";
						font-size: 28px;
					}
				}
			}

			.vc_toggle_icon {
				display: none;
			}
		}

		.vc_toggle_content {
			color: #747474;
			padding: dir-values(1em 1.429em 3.143em 0 !important);
			margin-top: 0;
			margin-bottom: 0;

		}

		&.vc_toggle_active {
			.vc_toggle_title {
				h4 {
					&:after {
						font-family: 'FontAwesome';
						content: "\f106";
					}
				}
			}
		}

		&:last-child {
			border-bottom: none;
		}
	}
}
