/*===================================================================================*/
/*  ABOUT-PAGE
/*===================================================================================*/
.text-boxes,
.wpb-accordion  {
	h3.highlight , h2{
		font-size: 1.286em;
		line-height: 1.000em;
		color: #434343;
		margin-bottom: 1.667em;
		font-weight: 600;
	}

	h2 {
		margin-bottom: 1.222em;
	}
}

.wpb-accordion {

	.vc_tta-container {
		padding-left: 50px;
	}

	.vc_tta.vc_general  {
		.vc_tta-panel {
			margin-bottom: 20px;

			&:last-child {
				margin-bottom: 0
			}
		}

	 	.vc_tta-panel-heading,
		.vc_tta-panel-body {
			border: none;
		}

		.vc_tta-panel-heading {
			.vc_tta-panel-title {
				font-size: 1.286em;
				line-height: 1.556em;
				letter-spacing: 0.01em;
				> a{
					padding: 0.333em 0;
					text-align: $start;

					span {
						color: #797979;
						margin-#{$start}: 2em;
					}

					i {
						display: inline-block;
						vertical-align: middle;
					}

					// &.collapsed {
					// 	&:before {
					// 		content: "\f068";
					// 		font-family: FontAwesome;
					// 	}

					// }



					&:not(.collapsed) {
						font-weight: 700;

						&:before {
							content: "\f068";
							font-family: FontAwesome;
						}

					}

					&:before {
						background: transparent;
						border: 1px solid #333e48;
					    border-radius: 3px;
					    display: inline-block;
					    font-size: 12px;
					    height: 37px;
					    line-height: 37px;
					    text-align: center;
					    vertical-align: middle;
					    width: 37px;
					    color: #666;
					    content: "\f067";
						font-family: FontAwesome;
					}
				}
			}

			&:hover,
			&:focus {
				background: #fff !important;

				.vc_tta-panel-title {
					> a {
						span {
							color: #000;
						}
					}
				}
			}
		}

		.vc_tta-panel-body {
			padding: dir-values(1em 2.000em 1em 4.214em);
		}

		.vc_tta-panel.vc_active {
			.vc_tta-panel-heading {
				.vc_tta-panel-title {
					font-weight: 700;

					> a{
						span {
							color: #333e48;
						}

						i {
							&:before {
								border-color: #333e48;
							}
						}

					}
				}
			}
		}
	}
}

.about-features{
	h2 {
		font-size: 1.286em;
		line-height: 1.000em;
		font-weight: 600;
		margin-bottom: 1.556em;
	}
}


.team-member-wrapper {
	padding: 6.429em 0;
	width: 100vw;
	position: relative;
	margin-#{$start}: -50vw;
	#{$start}: 50%;


	.team-member {
		img {
			border-radius: 50%;
			width: 100%;
			height: auto;
			display: block;
		}

		.profile {
			text-align: center;

			h3 {
				font-size: 1.286em;
				line-height: 1.556em;
				font-weight: 600;
				padding-top: 0.833em;
				padding-bottom: 0;
				margin-bottom: 0;

				small {
					display: block;
					font-size: 14px;
					line-height: 1.7em;
					color: #989898;
				}
			}
		}

	}
}

.about .header-with-cover-image {
	width: 100vw;
	position: relative;
	margin-#{$start}: -50vw;
	#{$start}: 50%;

	.caption {
		text-align: center;
		vertical-align: middle;
	}
}
